body {
    background-color: #012951 ;
    min-height: 100vh;
    margin: 0;
    color: white;
}
.header-info {
    font-family: "Michroma", sans-serif;
    font-weight: 400px;
    font-style: bold;
    text-align: center;
    margin-bottom: 20px;

}
#title{
    font-size: 50px;
}
.box {
    width: 320px;
    height:450px;
    border: 5px solid hsl(232, 98%, 16%);
    background-color: hsl(217, 74%, 50%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px;
    position: static;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 55px;

}

#nhl-logo{
    display:inline-block;
    max-width: 175px;
    height: auto;
    margin: auto;
    margin-left: 18px;
    margin-right: 18px;
}

.team-logos{
    display:inline-block;
    max-width: 180px;
    height: auto;
    margin: auto;
}
#sanjose-logo{
    max-width:135px;
    height:auto;
    margin:auto;
    margin-left:18px;
    margin-right:18px;
    }
#la-kings-logo{
    max-width: 150px;
    margin-left:-10px;
}

#vgk-logo{
    max-width:83px;
    margin-left:20px;
}

#leafs-logo{
    max-width: 135px;
    margin-left:-25px;
}

#montreal-logo{
    max-width: 115px;
    padding-bottom: 23px;
    margin-left:20px;
}

#bruins-logo{
    max-width:110px;
    padding-bottom: 12px;
    margin-left: 25px;
}

#redwings-logo{
    max-width:135px;
    padding-bottom:20px;
    margin-left: 25px;
}