body {
    background-color: #012951 ;
    min-height: 100vh;
    margin: 0;
    color: white;
}
.header-info {
    font-family: "Michroma", sans-serif;
    font-weight: 400px;
    font-style: bold;
    text-align: center;
    margin-bottom: 20px;

}
#title{
    font-size: 50px;
}

#logo{
    position:absolute;
    max-width: 60px;
    top:45px;
    right:50px;
}
.nav-bar{
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:0;
}
.nav-bar ul{
    /*visibility: hidden;*/
    font-family: "Michroma", sans-serif;
    list-style-type: none;
    background-color: hsl(239, 100%, 12%);
    padding: 0px;
    margin: 0px;
    padding-top: 100px;
}

.nav-bar a{
    visibility: hidden;
    color:white;
    text-decoration: none;
    padding:30px 30px 15px 32px;
    display: block;
    text-align: center;
}

.dropdown-menu{
    position:absolute;
    top:60px;
    left:20px;
    border-radius: 10px;
    background:none;
    border:none;
    padding:0;
    transition: transform 0.2s ease;
}

#menu-icon{
    width: 30px;
    height: auto;
}

.dropdown-menu:hover{
  transform:scale(1.1);
}

.box {
    width: 320px;
    height:450px;
    border: 2px solid hsl(0, 2%, 68%);
    background-color: hsl(207, 95%, 32%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px;
    position: static;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: "Michroma", sans-serif;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 55px;
    transition: box-shadow 0.2s ease-in-out,width 0.2s ease-in-out, height 0.2s ease-in-out;
}

#teams-box {
   background-image: url("nhl-images/Leafs-logo.png");
   background-repeat: no-repeat; 
   background-position: center;
   background-size: 100%;
}

#rookie-projections-box{
    background-image: url("player-images/schaefer.png");
    background-repeat: no-repeat; 
    background-position: bottom;
    background-size: 100%;
}

#hockey-gems-box{
    background-image: url("player-images/ovechkin-cup.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 140%;
}
.box:hover{
    width: 330px;
    height:453px;
    box-shadow: 0 0 10px 5px hsl(191, 99%, 60%);
    text-shadow: 0 0 10px  hsl(0, 1%, 62%);
    background-color: hsl(220, 100%, 22%);
}

#nhl-logo{
    display:inline-block;
    max-width: 175px;
    height: auto;
    margin: auto;
    margin-left: 18px;
    margin-right: 18px;
}
#nhl-logo2{
    display:inline-block;
    visibility: hidden;
    max-width: 175px;
    height: auto;
    margin: auto;
    margin-left: 18px;
    margin-right: 18px;
}
.logo-group{
    position:absolute;
}
.team-logos1{
    /*display:inline-block;*/
    max-width: 180px;
    height: auto;
    margin: auto;
    transition: opacity 1.5s ease-in-out;
    opacity: 1;
}
#sanjose-logo{
    max-width:135px;
    height:auto;
    margin:auto;
    margin-left:18px;
    margin-right:18px;
    top:0;

    }
#la-kings-logo{
    max-width: 150px;
    margin-left:-10px;
}

#vgk-logo{
    max-width:83px;
    margin-left:20px;
}

#leafs-logo{
    max-width: 130px;
    margin-left:-25px;
    padding-top: 10px;
}

#montreal-logo{
    max-width: 115px;
    padding-bottom: 23px;
    margin-left:20px;
}

#bruins-logo{
    max-width:110px;
    padding-bottom: 12px;
    margin-left: 25px;
}

#redwings-logo{
    max-width:135px;
    padding-bottom:20px;
    margin-left: 25px;
}
.team-logos2{
    position: rel;
    /*display:inline-block;*/
    max-width: 180px;
    height: auto;
    margin: auto;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
}

#flames-logo{
    max-width:195px;
}

#oilers-logo {
    max-width:120px;
    padding-bottom:10px;
}

#canucks-logo {
    max-width:120px;
    margin-left: 25px;
    padding-bottom: 10px;
}

#kraken-logo {
    max-width:120px;
    padding-bottom: 10px;
    margin-left:30px;
}

#senators-logo{
    max-width:135px;
    padding-bottom:15px;
    margin-left:-50px;
}

#sabres-logo{
    max-width:110px;
    padding-bottom:15px;
    margin-left:30px;
}

/*#lightning-logo{}*/

#panthers-logo{
    max-width:120px;
    padding-bottom:15px;
}

.team-logos3{
    /*display:inline-block;*/
    max-width: 180px;
    height: auto;
    margin: auto;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
}

#avalanche-logo{
    max-width: 140px;
    margin-left:30px;
    padding-top:10px;
}

#stars-logo{
    max-width: 140px;
    margin-left:30px;
    padding-top:10px;
}

#jets-logo{
    max-width: 110px;
    margin-left:20px;
    padding-bottom: 15px;
    
}

#mammoth-logo{
    max-width: 150px;
    margin-left:10px;
    padding-bottom: 10px;
}

#penguins-logo{
    margin-left:-95px;
}

#capitals-logo{
    max-width:150px;
    padding-bottom: 20px;
    margin-left:-10px;
}

#rangers-logo{
    max-width:110px;
    padding-bottom: 20px;
    margin-left:20px;
}

#islanders-logo{
    max-width:120px;
    margin-left:25px;
    padding-bottom: 20px;
}

.team-logos4{
    /*display:inline-block;*/
    max-width: 180px;
    height: auto;
    margin: auto;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
}

#blackhawks-logo{
    max-width:220px;
    margin-left:5px;
    padding-bottom: 15px;
}

#wild-logo{
    max-width:140px;
    margin-left:-35px;
    padding-bottom: 55px;
}

#predators-logo{
    max-width:150px;
    margin-left:10px;
    padding-bottom: 55px;
}

#blues-logo{
    max-width:125px;
    padding-bottom:45px;
    margin-left:10px;
}

#blue-jackets-logo{
    max-width:120px;
    margin-left:-50px;
    padding-bottom: 45px;
}

#hurricanes-logo{
    max-width: 150px;;
    padding-bottom:30px;
    margin-left:10px;
}

#flyers-logo{
    max-width:130px;
    padding-bottom:60px;
    margin-left: 30px;
}

#devils-logo{
    max-width: 100px;
    padding-bottom: 50px;
    margin-left: 20px;
}

.line-divider{
    display:block;
    max-width: 1200px;
    border:none;
    border-top:2px solid hsl(352, 63%, 39%);
    margin-top: 135px;
    margin-bottom:-60px;
}








